/*
em - от текущего шоифта
% - от родительской ширины
rem - от стиля html
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/
body{
    margin:0;
    font-family: 'Open Sans', sans-serif;

    font-size: 21px;
    line-height: 1.6;
    color: #484f5b;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-size: 3.5em;
    line-height: 1.2;
    margin: 0;
}

/*Header*/
/* header{

} */
.header__menu-item{
    padding: 20px 40px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.header__menu-item:last-child{
    padding-right: 0;
}

.header__menu-item:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
    max-width: 1254px;
    margin: 0 auto;
}

.header__top{
    margin: 15px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__bottom{
    background: url("images/header/header_bg.png") center no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
}

.header__bottom > .container{
    display: flex;
}

.section__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 65px;
    padding-right: 0;
    width: 50%;
}

.section__content:first-child{
    padding-left: 0;
}

.section-img{
    width: 100%;
    height: auto;
}

.header__text{
    margin: 65px 0 80px;
}

.section__btn{
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: inherit;
    width: 200px;
    height:  50px;
    background-color: #e6c8c3;
}

.section__btn:hover{
    background-color: #e08979;
    color: #36383b;
    box-shadow: 0 0 2px 2px #e08979;
}

.section__btn:active{
    background-color: #a84646;
    color: #Fff;
    box-shadow: 0 0 2px 2px #a84646;
}

.pregnant{
    background: url("images/pregnant/section_1_bg.jpg") center no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
}

.pregnant > .container{
    display: flex;
}

.pregnant .section__content{
    padding-left: 0;
}

.programs{
    display: flex;
    justify-content: space-around;
    height: 480px;
}

.content__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__item > .section__title{
    font-size: 1.1em;
}

.content__item > .section__text{
    margin-top: 5px;
}

.programs__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 210px;
}

.yoga{
    background: url("images/yoga/section_3_bg.png") center no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
}

.yoga > .container{
    display: flex;
}

.join{
    background: url("images/join/join_bg.png") left no-repeat, url("images/join/section_4_bg.png") center no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
}

.join > .container{
    display: flex;
    justify-content: flex-end;
}

.galery{
    background: url("images/galery/section_5_7_bg.png") center no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
}

.galery > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.galery__header{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.galery__content{
    display: flex;
    justify-content: space-between;

}

.galery__content > .content__item{
    width: 28%;
    background-color: #fff;
    box-shadow: 2px 2px 5px #36383b;
}

.galery__content img{
    width: 100%;
    height: auto;
}

.galery__content .section__title{
    font-size: 1.6em;
    margin-top: 30px;
}

.galery__content .section__text{
    font-size: 0.8em;
    width: 80%;
    
    margin-top: 20px;
    text-align: center;
}

.showreel{
    display: flex;
    height: 100vh;
    background-color: #e5ccc6;
}

.showreel > .container{
    display: flex;
}

.showreel .section__content:first-child{
    position: relative;
}

.showreel .section-img{
    transform: scale(-1, 1);
    box-shadow: -10px 10px 20px #36383b;
    
    
}

.showreel__triangle{
    border-top: 50px solid transparent;
    border-right: 0;
    border-bottom: 50px solid transparent;
    border-left: 70px solid #fff;
    position: absolute;
    left: 45%;
    transition: transform .08s linear;
}

.showreel__triangle:active{
    transform: scale(.9);
}


.showreel__social a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    
}

.showreel__social a:first-child{
    padding-left: 0;
}

.showreel__social .fa-brands{
    font-size: 1.6em;
    background-color: #fff;
    color: #484f5b;
    line-height: 0.8;
}